#simple_random_meal{
    background-color: antiquewhite;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 44%;
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
}
#block_of_meal{
    background-color: antiquewhite;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 44%;
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
}
